body {
  margin-bottom: 20px;
}

.title {
  background-color: midnightblue;
  color: white;
  text-align: center;
  padding: 40px;
}

.parameters {
  background-color: midnightblue;
  color: white;
  margin-top: 20px;
}

.search {
  padding: 10px;
  border: solid 1px midnightblue;
}

.articleHeader {
  background-color: midnightblue;
  color: white;
  margin-top: 20px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.url {
  font-size: 10px;
  color: lightslategray;
}

.resultsArea {
  border: solid 1px midnightblue;
}

.article-content {
  background-color: lightgray;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-default {
  background-color: lightgray;
}